%table.table.table-striped
  %tbody
    %tr
      %th #
      %th User
      %th Number of comments
  %tbody
  - counter = 0
  - commentators.each do |key, val|
    %tr
      %td= counter += 1
      %td= key
      %td= val
