- if user_signed_in?
  %form{:action => "\\comments",  :method => "post", :name => "commentForm", :class => "visible"}
    %textarea#confirmationText.text{:cols => "25", :rows => "3", :name => "commentField", :class => "form-control"}
    %input{:name => "movie_id", :type => "hidden", :value => movieid}
    %input{:type => "submit", :value => "Save", :name => "saveComment", :class => "btn btn-default navbar-btn"}/
