%div
  %div
    %table.table.table-striped
      %thead
      - if comments.exists?
        %tr
          %th #
          %th User
          %th Comment
          %th
      %tbody
        - comments.each_with_index do |comment, i|
          %tr
            %td= i + 1
            %td= comment.user_name
            %td= comment.content
            - if current_user.id == comment.user_id
              %td= link_to 'Delete', comment, method: :delete, :name => "deleteCommentLink", :value => comment.id, data: { confirm: 'Are you sure you want to delete this comment?' }
            - else
              %td
